* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    background-color: rgb(25, 11, 38);
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.card{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 550px;
    height: 300px;
    background-color:#24032d;
    border-radius: 10px;
    /* padding: 20px; */
    /* margin: 20px; */
    align-items: 10px;
    align-content: content;
    border-right: 20px;
    background-color: rgb(53, 3, 55);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 1.5);
}

.firstcontent{
    /* margin-right: 14px; */
    padding: 20px;
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 300px;
    width: 300px;
    border-top-right-radius: 140px;
}

.signContainer{
    justify-content: center;
    align-items: center;
}

.sign-in{
    color: #000000;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    font-weight: bold;
}

#iconContainer{
    width: 20px;
    height: 35px;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    
}

.fbiconContainer{
    width: 40px;
    height: 30px;
    border: 2px solid;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer; 
    border-color:#a6a2a2 ;
}

.fbicon{
    height: 20px;
    width: 20px;
    margin-top: 3px;
    cursor: pointer;
}

.GiconContainer{
    width: 40px;
    height: 30px;
    border: 2px solid;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
    border-color: #a6a2a2;
}

.Gicon{
    height: 23px;
    /* width: 15px; */
    margin-left:
}

.GiticonContainer{
    width: 40px;
    height: 30px;
    border: 2px solid;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
    border-color: #a6a2a2;
}

.Giticon{
    height: 23px;
}

.LinkedinContainer{
    width: 40px;
    height: 30px;
    border: 2px solid;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
    border-color: #a6a2a2; 
}

.linkedinicon{
    height: 23px;
}

.headContent{
    /* height: ; */
    width: 100%;
    margin-bottom: 20px;
    margin-left: 20px;
}

.instruction{
    width: 100%;
    font-size: 11px;
    font-weight: 100px;
    color: #a6a2a2;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

form{
    
}

label{
   
}

.email{
    border-radius: 10px;
    height: 30px;
    /* cursor: pointer; */
    border-color: blue;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1.5);
}

.password{
    border-radius: 10px;
    height: 30px;
    /* cursor: pointer; */
    border-color: blue;
    background-color: linear-gradient(rgb(17, 0, 26), #350068);;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1.5);
}

.bottomContent{
    margin-top: 20px;
    margin-left: 30px;
    white-space: nowrap;
    margin-bottom: 10px;
}

.instruction-2{
    color: #a6a2a2;
    font-size: 11px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.signin{
    border: 2px solid;
    border-radius: 5px;
    width: 70px;
    height: 24px;
    color: rgb(241, 237, 245);
    cursor: pointer;
    background: linear-gradient(rgb(17, 0, 26), #350068);
    border-color: blueviolet;
    margin-left: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1.5);
    font-size: 9px;
}


.intersection{
    display: flex;
    flex-direction: column;
    width: 0px;
    height: 300px;
    background-color: #ffffff;
    background: linear-gradient();
    border-radius: 0px;
    margin-bottom: 0px;
}

.intersect-1 {
    display: flex;
    background-color: #24032d;
    flex-direction: column;
    border-radius: 0px;
    height: 140px;
    margin-bottom: 120px;
}

.down {
    margin-top: -60px;
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    border-radius: 0px;
    height: 180px;
    width: 150px;
    border-top-right-radius: 100%px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0px;
    /* background: linear-gradient(rgb(17, 0, 26), #350068);; */

}

.secondContainer{
    /* margin-right: 14px; */
    padding: 20px;
    /* background-color: rgb(243, 12, 12); */
    background: linear-gradient( to right, rgb(17, 0, 26), #2e0545, #08000e);
    background-position: center center center;
    background-size: 100%;
    border-bottom-left-radius: 1000%;
    border-top-left-radius: 1200%;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px; 
    width: 330px;  
    height: 300px;
}

.secondContent{
    margin-top: 30px;
}

.hello{
    color: #ffffff;
    font-size: 20px;
    font-style: initial;
    margin-left: 50px;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content-b{
    color: #ffffff;
    font-size: 11px;
    font-style: initial;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.br{
    margin-left: 50px;
    
}

.Sign-up{
    font-size: 8px;
    border: 2px solid;
    border-radius: 5px;
    width: 70px;
    height: 24px;
    color: rgb(241, 237, 245);
    cursor: pointer;
    background-color: blueviolet;
    border-color: #ffffff;
    margin-left: 70px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1.5);
    background: linear-gradient(rgb(17, 0, 26), #350068);;
}

@media(max-width: 896px){
    .card{
        background-color: #f6f2f4;
        justify-content: center;
        flex-direction: column;
        height: 0px;
        width: 414px;
        margin-top: 10px;
    }
    .firstcontent{
        margin-left: 100px;
    }
    .intersection{
        background-color:
    }

    .secondContainer{
        margin-left: 100px;
        background-color: #9e54b7 ;
        margin-top: 100px;
        width: 414px;
    }

    .container{
        background-color: #ffffff;
    }
}

